<div class="header">
    <div  class="header_avatar">
        <ul class="header_name">
            <li >
                <a href="">
                    <img src="assets/icons/avtar.png" alt="" class="avatar">
                    <span>admin</span>
                </a>
                <ul class="header_list">
                    <li class="logout"><a href="">退出登录</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="date_time">
        <img src="assets/icons/date.png" alt="日期">
        <span class="dateYear"></span><span>年</span>
        <span class="dateMonth"></span><span>月</span>
        <span class="dateDate"></span><span>日</span>
        <span>星期</span><span class="dateDay"></span><span class="line">|</span><img src="assets/icons/time.png" alt="时间">
        <span class="time">10:34</span>
    </div>
</div>